<!--Primer select-->
<div class="container">
  <mat-form-field appearance="fill">
    <mat-label>Numero pagina</mat-label>
    <mat-select [(ngModel)]="pagina">
      <mat-option value="1" selected>
        1
      </mat-option>
      <mat-option value="2">
        2
      </mat-option>
      <mat-option value="3">
        3
      </mat-option>
      <mat-option value="4">
        4
      </mat-option>
      <mat-option value="5">
        5
      </mat-option>
      <mat-option value="6">
        6
      </mat-option>
      <mat-option value="7">
        7
      </mat-option>
      <mat-option value="8">
        8
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!--Segundo select-->
  <mat-form-field appearance="fill">
    <mat-label>Numero mostrados</mat-label>
    <mat-select [(ngModel)]="mostrados">
      <mat-option value="5" selected>
        5
      </mat-option>
      <mat-option value="10">
        10
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Boton -->
</div>

<button type="submit" mat-raised-button color="warn" (click)="buscar()">
  Buscar...
</button>


<app-users-table [users]="users"></app-users-table>
