<div class="fondo">
    <div class="container">
        <img src="https://www.coronatoolsusa.com/hs-fs/hubfs/Corona_6-16/corona_website-10.png?width=684&name=corona_website-10.png">

        <h3 class="mt-3">1.Realice un algoritmo que resuelva el siguiente problema: Se tiene una tabla con el inventario por bodegas de un producto en específico. Como ejemplo luce de la siguiente forma (Diseñe el algoritmo asumiendo que la tabla tiene una alta cantidad
            de datos, la información de abajo es solo para entender la estructura):
        </h3>

        <table>
            <tr>
                <th>Codigo</th>
                <th>Producto</th>
                <th>Instalación</th>
                <th>Bodega</th>
                <th>Inventario</th>
                <th>Costo Unitario</th>
            </tr>
            <tr *ngFor="let producto of productos">
                <td>{{producto.codigo}}</td>
                <td>{{producto.producto}}</td>
                <td>{{producto.instalacion}}</td>
                <td>{{producto.bodega}}</td>
                <td>{{producto.inventario}}</td>
                <td>{{producto.costoUnitario}}</td>
            </tr>
        </table>

        <h3>A partir de una entrada por compra, se requiere conocer el nuevo costo medio ponderado del producto. Los parámetros que recibe el programa son el código del producto (códigoProducto), la cantidad de producto comprada (CantidadCompra), la “instalación
            a costear” y el precio unitario de la compra (PrecioCompra) </h3>

        <h2>Se reciben 900 palas código 155882 en la instalación DI a un precio de 35.</h2>

        <h1><strong>Coste medio ponderado</strong></h1>




        <div class="row">

          <div [ngClass]="{
            'col-6': productos.length > 6
          }">
            <form autocomplete="off" [formGroup]="miFormulario">
              <mat-form-field class="example-full-width">
                <mat-label>Codigo de producto:</mat-label>
                <input matInput formControlName="codigo" type="number">
              </mat-form-field>
              <span class="text-danger" *ngIf="campoNoEsValido('codigo')">Este campo es obligatorio</span>
              <mat-form-field class="example-full-width">
                <mat-label>Nombre de producto:</mat-label>
                <input matInput formControlName="producto">
              </mat-form-field>
              <span class="text-danger" *ngIf="campoNoEsValido('producto')">Este campo es obligatorio</span>
              <mat-form-field class="example-full-width">
                <mat-label>Cantidad de compra:</mat-label>
                <input matInput formControlName="cantidad" type="number">
              </mat-form-field>
              <span class="text-danger" *ngIf="campoNoEsValido('cantidad')">Este campo es obligatorio y debe ser mayor a
                0</span>
              <mat-form-field class="example-full-width">
                <mat-label>Instalacion:</mat-label>
                <input matInput formControlName="instalacion" type="text">
              </mat-form-field>
              <span class="text-danger" *ngIf="campoNoEsValido('instalacion')">Este campo es obligatorio</span>
              <mat-form-field class="example-full-width">
                <mat-label>Bodega:</mat-label>
                <input matInput formControlName="bodega">
              </mat-form-field>
              <span class="text-danger" *ngIf="campoNoEsValido('bodega')">Este campo es obligatorio</span>
              <mat-form-field class="example-full-width">
                <mat-label>Precio de compra:</mat-label>
                <input matInput formControlName="precio" type="number">
                <span matPrefix>$&nbsp;</span>
              </mat-form-field>
              <span class="text-danger" *ngIf="campoNoEsValido('precio')">Este campo es obligatorio y debe ser mayor a 0</span>
            </form>
          </div>
          <div class="col-6">
            <div *ngIf="productos.length > 6">
              <tr>
                <th>Inventario valorado:</th>
                <th>Costo de entrada:</th>
                <th>Inventario final:</th>
                <th>Costo final:</th>
                <th>Costo medio:</th>
              </tr>
              <tr>
                <td>{{inventarioValorado}} </td>
                <td>{{costoEntrada | currency}} </td>
                <td>{{inventarioFinal}} </td>
                <td>{{costoFinal | currency}} </td>
                <td>{{costoMedio}} </td>
              </tr>
            </div>
          </div>
        </div>
        <div style="padding-top: 2em;">
          <button mat-raised-button color="warn" (click)="guardar()">Calcular</button>
        </div>
        </div>
        <footer class="footer bg-dark text-center">
          <div class="container">

            <p> &copy; 2022 | Corona Clipper</p>

          </div>
        </footer>
