<div class="fondo">
    <div class="container">
        <h3 style="text-align: justify">1.Realice un algoritmo que resuelva el siguiente problema: Se tiene una tabla con el inventario por bodegas de un producto en específico. Como ejemplo luce de la siguiente forma (Diseñe el algoritmo asumiendo que la tabla tiene una alta cantidad
            de datos, la información de abajo es solo para entender la estructura):
        </h3>

        <table>
            <tr>
                <th>Codigo</th>
                <th>Producto</th>
                <th>Instalación</th>
                <th>Bodega</th>
                <th>Inventario</th>
                <th>Costo Unitario</th>
            </tr>
            <tr *ngFor="let producto of productos">
                <td>{{producto.codigo}}</td>
                <td>{{producto.producto}}</td>
                <td>{{producto.instalacion}}</td>
                <td>{{producto.bodega}}</td>
                <td>{{producto.inventario}}</td>
                <td>{{producto.costoUnitario}}</td>
            </tr>
        </table>

        <h3 style="text-align: justify">A partir de una entrada por compra, se requiere conocer el nuevo costo medio ponderado del producto. Los parámetros que recibe el programa son el código del producto (códigoProducto), la cantidad de producto comprada (CantidadCompra), la “instalación
            a costear” y el precio unitario de la compra (PrecioCompra) </h3>

        <h2>Se reciben 900 palas código 155882 en la instalación DI a un precio de 35.</h2>

        <!--h1>Costo medio ponderado</h1>
      <label>
          <input id="Codigoproducto" type="number" placeholder="Codigo de producto: ">
      </label>
      <label>
          <input id="Cantidadcompra" type="number" placeholder="Cantidad de compra: ">
      </label>
      <label>
        <input id="Instalacion" type="string" placeholder="Instalacion: ">
    </label>
      <label>
        <input id="PrecioCompra" type="number" placeholder="Precio de compra: ">
    </label-->
        <button type="button" (click)="click()">Calcular</button>
    </div>
